<input id="chatId" value={{chat._id}}></input>
<div class="container">

  <div class="members-count">{{activeUsers.length}} users active in the room</div>
  <div class="row">
    <div class="col-2">
      <div class="members-list">
        <p>Users</p>
        {{#each activeUsers}}
        <p>{{this.username}} </p>{{/each}}
      </div>
    </div>
    <div class="col-8">
      <div class="messages" id="history-wrapper">
        {{#each messages}} {{#if messageContent}}
        <p class="message">
          {{this.messageContent}} by {{this.authorId.username}}
          <br>

          <a href='/chatRoom/deleteMessage/{{this._id}}' class='messageDeleteButton'>delete</a>
        </p>
        {{/if}} {{#if messageGif}}
        <div class='gifMessage'>
          <div class='gifMessageContent'>
            <img src={{this.messageGif}} alt=""> by {{this.authorId.username}}
          </div>

          <a href='/chatRoom/deleteMessage/{{this._id}}' class='messageDeleteButton'>delete</a>
        </div>
        {{/if}} {{/each}} {{!-- </form> --}} {{!--
        <form action="/chatRoom" class="message-form" method="POST"> --}}

      </div>
      <input class="message-form__input" placeholder="Type a message.." type="text" maxlength="50" required>
      <button class="message-form__button" type="submit">Send</button>
    </div>

  </div>
  <div class="col-2">
    <input type="text" name="search1" required>
    <button id='findGifbutton' type="submit">FindGif</button>
    {{#if trending}}
    <div class="gifMessageChoices" id='trendingclear'>
      {{#each trending}}
      <div class="chatClickable">
        <img src="{{this.images.fixed_width.url}}" alt="">
      </div>
      {{/each}}
    </div>
    {{/if}} {{#if searchResult}}
    <div class="gitMessageChoicess">
      {{#each searchResult}}
      <div class="chatClickable">
        <img src="{{this.images.fixed_width.url}}" alt="">
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}} {{!--
  <form action="/chatRoom" method="POST"> --}}
    <div id='gifSearchBarMessage'>

      <a href='/logout'>Log out</a>
      <a href='/profile'>Go Back to My Profile</a>
      <div id='pleaseHideforDom'>
        <div id='hideAuthorIdUserName'>{{user.username}}</div>
      </div>
    </div>
</div>
<script src='/javascripts/chatRoomInterval.js'></script>