<div class="members-count">{{activeUsers.length}} users active in the room</div>
<div class="members-list">
  {{#each activeUsers}} {{this.username}} {{/each}}
</div>
<div class="messages">
  {{#each messages}} {{#if messageContent}}
  <p class="message">
    {{this.messageContent}} by {{this.authorId.username}}
    <br>
    <a href='' class='messageReactButton'>react</a>&nbsp&nbsp
    <a href='/chatRoom/deleteMessage/{{this._id}}' class='messageDeleteButton'>delete</a>
  </p>
  {{/if}} {{#if messageGif}}
  <div class='gifMessage'>
    <div class = 'gifMessageContent'>
    <img src={{this.messageGif}} alt=""> by {{this.authorId.username}}
    </div>
    <a href='' class='messageReactButton'>react</a>&nbsp&nbsp
    <a href='/chatRoom/deleteMessage/{{this._id}}' class='messageDeleteButton'>delete</a>
  </div>
  {{/if}} {{/each}}
</div>

{{#if trending}}
<div class="gifMessageChoices" id='trendingclear'>
  {{#each trending}}
  <div class="chatClickable">
    <img src="{{this.images.fixed_width.url}}" alt="">
  </div>
  {{/each}}
</div>
{{/if}} 
{{#if searchResult}}
<div class="gitMessageChoicess">
  {{#each searchResult}}
  <div class="chatClickable">
    <img src="{{this.images.fixed_width.url}}" alt="">
  </div>
  {{/each}}
</div>
{{/if}}

{{!-- <form action="/chatRoom" method="POST"> --}}
  <div id='gifSearchBarMessage'>
    <input type="text" name="search1" required>
  </div>
  <button id='findGifbutton' type="submit">FindGif</button>
{{!-- </form> --}}

{{!-- <form action="/chatRoom" class="message-form" method="POST"> --}}
  <input class="message-form__input" placeholder="Type a message.." type="text" maxlength="50" required>
  <button class="message-form__button" type="submit">Send</button>
{{!-- </form> --}}

<a href='/logout'>Log out</a>
<a href='/profile'>Go Back to My Profile</a>
  <div id='pleaseHideforDom'>
    <div id='hideAuthorIdUserName'>{{user.username}}</div>
  </div>