<h1>Welcome {{user.username}}</h1>
{{#if user.profileGif}}
<img src="/uploads/{{user.profileGif}}" width='150px'> {{/if}}

<div class='moodPic'>
{{#if user.moodPic}}
  <p>Your Mood for the Day</p>
  <img src={{user.moodPic}} width="200px">
{{/if}}
</div>

<br>
<a href='/logout'>Log out</a>
<br>

<a href='/userhomepage'>Home Page</a>
<br>
<div id="searchForm">
  <form action="/profile" method="POST">
    <label for="search">MOOD: </label>
    <input type="text" name="search" id="searchWooooooooooow">
    <button class='profileSearchButton'>Search</button>
  </form>
  <br>
  <form action="/profileWow" method="POST">
    <button>I dont know myself. Lets see whats trending</button>
  </form>
</div>
<br>
<br> 
<h4>Active Chats  -  <a href="/createChatRoom">Create a chat</a></h4>
{{#each chats}}
  <div class="chat">
    <a href="/chatRoom/{{this._id}}">{{this.name}}</a> - <span><a href="/delete/{{this._id}}">Delete Chat</a></span>
  </div>
{{/each}} 
  <br>
  <br>
{{#if wow}}
<div class="clear">
  {{#each wow}}
  <div class="clickable">
    <img src="{{this.images.fixed_width.url}}" alt="">
  </div>
  {{/each}}
</div>
{{/if}}