<h1>Welcome {{user.username}}</h1>
{{#if user.profileGif}}
<img src="/uploads/{{user.profileGif}}" width='150px'> {{/if}}

<br>
<a href='/logout'>Log out</a>
<br>
<a href='/chatRoom'>Go to the Chatroom</a>
<br>
<br>
<div id="searchForm">
  <form action="/profile" method="POST">
    <label for="search">MOOD: </label>
    <input type="text" name="search" id="searchWooooooooooow">
    <button>Search</button>
  </form>
  <br>
  <form action="/profileWow" method="POST">
    <button>I dont know myself. Lets see whats trending</button>
  </form>
</div>
<br>
<br> 
<h4>Chats</h4>
{{#each chats}}
  <div class="chat">
    <a href="/chatRoom/{{this._id}}">{{this.name}}</a>
  </div>
{{/each}} 
  <br>
  <br>
{{#if wow}}
<div class="clear">
  {{#each wow}}
  <div class="clickable">
    <img src="{{this.images.fixed_width.url}}" alt="">
  </div>
  {{/each}} 
</div>
{{/if}}